/* body {



  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;



  color: black;


  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;




} */


.container {
  margin: 0;
  padding: 0;


  background: linear-gradient(135deg, #ff73d1, #1e90ff);



}


/* Apply gradient background to the entire viewport */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Ensures the body takes up the entire viewport height */
  box-sizing: border-box;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #ff73d1, #1e90ff);
  /* Gradient applied globally */
}