


.container {
  margin: 0;
  padding: 0;


  /* background: linear-gradient(135deg, #ff73d1, #1e90ff); */
  background-color: #222;



}


/* Apply gradient background to the entire viewport */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Ensures the body takes up the entire viewport height */
  box-sizing: border-box;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(135deg, #ff73d1, #1e90ff); */
  /* Gradient applied globally */
}